/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.audio-note {
	padding-right: 24px !important;
}

.audio-note audio {
	margin-top: 16px;
}

.audio-note .audio-note-title {
	padding: var(--callout-title-padding);
	display: flex;
	gap: var(--size-4-1);
	font-size: var(--callout-title-size);
	color: rgb(var(--callout-color));
	line-height: var(--line-height-tight);
	margin-bottom: 0px;
}

.audio-note .audio-note-title .audio-note-icon {
	flex: 0 0 auto;
	display: flex;
	align-self: center;
}

.audio-note .audio-note-title .audio-note-title-inner {
	font-weight: var(--bold-weight);
	color: var(--callout-title-color);
}

.audio-note p {
	margin-top: 16px;
	margin-bottom: 0px;
}

.audio-note .audio-note-title p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.audio-note .audio-note-author p {
	margin-top: 4px;
	margin-bottom: 0px;
}

/* */
.audio-note-play-button,
.audio-note-mute-button,
.audio-note-forward-button,
.audio-note-backward-button,
.audio-note-reset-button {
	padding: 0 !important;
	border: 0;
	background: transparent;
	background-color: transparent !important;
	box-shadow: none !important;
	cursor: pointer;
	outline: none;
	width: fit-content !important;
	height: 40px;
	margin: 0;
}

.audio-note-play-button {
	float: left;
	margin-left: 16px;
	margin-right: 8px;
}

.audio-note-backward-button {
	margin-left: 16px;
	margin-right: 0px;
}

.audio-note-forward-button {
	margin-left: 12px;
	margin-right: 0px;
}

.audio-note-reset-button {
	margin-left: 12px;
	margin-right: 24px;
}

.audio-note-mute-button {
	margin-left: auto;
	margin-right: 16px;
	min-width: 15px;
	max-width: 15px;
}

.audio-player-container {
	display: flex;
	align-items: center;
	margin-top: 16px;
	margin-bottom: 4px;
	margin-left: 8px;
	margin-right: 8px;
	--seek-before-width: 0%;
	--volume-before-width: 100%;
	--buffered-width: 0%;
	position: relative;
	width: calc(100% - 8px - 8px);
	border: solid 1px rgba(255, 255, 255, 0.15);
	border-radius: 12px;
}

.audio-player-container-mobile {
	display: block;
	margin-top: 16px;
	margin-bottom: 4px;
	margin-left: 8px;
	margin-right: 8px;
	--seek-before-width: 0%;
	--volume-before-width: 100%;
	--buffered-width: 0%;
	position: relative;
	width: calc(100% - 8px - 8px);
	height: fit-content;
	border: solid 1px rgba(255, 255, 255, 0.15);
	border-radius: 12px;
}

.audio-player-container-top {
	display: flex;
	align-items: center;
}

.audio-player-container-bottom {
	display: block;
	align-items: center;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.seek-slider {
	width: -webkit-fill-available !important;
}

.volume-slider {
	width: 100%;
}

.audio-player-container::before {
	position: absolute;
	content: "";
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	left: -2px;
	top: -2px;
	background: transparent;
	z-index: -1;
}

.time {
	width: fit-content;
	min-width: fit-content;
	max-width: fit-content;
	margin-bottom: 1px;
	margin-left: 8px;
}

.audio-controls-output {
	display: inline-block;
	width: 32px;
	text-align: center;
	font-size: 20px;
	clear: left;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 8px;
	margin-right: 0px;
}

.audio-player-container input[type="range"] {
	width: unset;
	background: transparent;
	position: relative;
	-webkit-appearance: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 8px;
	margin-right: 8px;
	padding: 0;
	float: left;
	outline: none;
}

.audio-player-container input[type="range"]::-webkit-slider-runnable-track {
	height: 3px;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.5);
}

.audio-player-container input[type="range"]::before {
	position: absolute;
	content: "";
	top: 8px;
	left: 0;
	width: var(--seek-before-width);
	height: 3px;
	background-color: #007db5;
	cursor: pointer;
}

.audio-player-container input[type="range"]::-webkit-slider-thumb {
	position: relative;
	-webkit-appearance: none;
	box-sizing: content-box;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	outline: none;
	border: none;
	background-color: #fff;
	cursor: pointer;
}

.audio-player-container input[type="range"]::-webkit-slider-thumb {
	margin: -1px 0 0 0;
}

.audio-player-container-mobile input[type="range"]::-webkit-slider-thumb {
	margin: 2.5px 0 0 0;
}

.audio-player-container input[type="range"]::-moz-range-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	background: #fff;
}

.audio-player-container input[type="range"]::-moz-focus-outer {
	border: 0;
}

.audio-player-container input[type="range"]::-moz-range-thumb {
	box-sizing: content-box;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	outline: none;
	border: none;
	background-color: #fff;
	cursor: pointer;
}

.audio-player-container input[type="range"]::-ms-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	background: transparent;
	border: solid transparent;
	color: transparent;
}

.audio-player-container input[type="range"]::-ms-thumb {
	box-sizing: content-box;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	outline: none;
	border: none;
	background-color: #fff;
	cursor: pointer;
	margin: 2.5px 0 0 0;
}

.audio-player-container input[type="range"]::before {
	background-color: transparent;
}

select.select-model-accuracy {
	margin-left: auto;
	display: flex;
	margin-bottom: 12px;
}

/* Create new audio note prompt */
.create-new-audio-note-file-title {
	margin-left: 12px;
	margin-right: 12px;
	text-align: center;
}

.create-new-audio-note-file-input-element {
}

.create-new-audio-note-file-url-container {
	display: flex;
}

.create-new-audio-note-file-submit-button {
	width: fit-content;
	align-self: center;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: 12px;
	margin-right: 12px;
}

.create-new-audio-note-file-submit-button:disabled {
	opacity: 30%;
}

.create-new-audio-note-file-prompt-input-container {
	width: 100%;
}

/*START tabs*/
.tab {
	padding: var(--size-4-3);
	text-align: center;
	border-bottom: 1px solid var(--background-secondary);
	width: 100%;
}

button.tablinks:not(:last-child) {
	margin-right: 16px;
}

.transcription-options-container-for-new-audio-note {
	padding: var(--size-4-3);
	display: flex;
	justify-content: space-between;
}

.transcription-options-container-for-new-audio-note span {
	margin-left: auto;
	align-self: center;
	margin-bottom: 12px;
}

.transcription-options-container-for-new-audio-note input[type="checkbox"] {
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 12px;
	align-self: center;
}

.transcription-options-container-for-new-audio-note select {
	margin-left: 0px;
}

.modal-container .prompt .podcast-input-div {
	margin: var(--size-4-3);
	display: flex;
}

.modal-container .prompt .podcast-input-div .span-podcast-input-text {
	width: 200px;
	align-self: center;
}

.modal-container .prompt .podcast-input-div .podcast-search-input {
	margin-left: auto;
	width: -webkit-fill-available;
	max-width: calc(100% - 153px);
}

.modal-container .prompt .podcast-select-div {
	margin: var(--size-4-3);
	display: flex;
}

.modal-container .prompt .podcast-select-div .span-podcast-select-text {
	width: 200px;
	align-self: center;
}

.modal-container .prompt .podcast-select-div .select-podcast-results {
	margin-left: auto;
	width: -webkit-fill-available;
	max-width: calc(100% - 153px);
}

.modal-container .prompt .podcast-episode-select-div {
	margin: var(--size-4-3);
	display: flex;
}

.modal-container
	.prompt
	.podcast-episode-select-div
	.span-podcast-episode-select-text {
	width: 200px;
	align-self: center;
}

.modal-container
	.prompt
	.podcast-episode-select-div
	.select-podcast-episode-results {
	margin-left: auto;
	width: -webkit-fill-available;
	max-width: calc(100% - 153px);
}

/* END tabs*/

/* START DG Quick Audio Note */
.dg-audio-note {
	border: 1px solid var(--background-modifier-border);
	padding: 10px;
}

.dg-audio-note-title {
	font-weight: 600;
}

.dg-audio-note-audio {
	margin-top: 10px;
}

.modal-main-div {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

input.title-input {
	padding: 6px 5px;
}
.button-container {
	display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
}

.button-container button {
	margin-right: 5px;
	margin-left: 5px;
}

.dg-audio-note-powered-by {
	/* background-image: url("https://res.cloudinary.com/deepgram/image/upload/v1676406242/blog/DG-powered-by-logo-black-red-horizontal-rgb_wqhltl.svg"); */
	/* height: 20px; */
	width: auto;

	/* background-size: contain; */
	margin-left: auto;
	/* background-repeat: no-repeat;
	background-position: right; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.dg-audio-note-logo.theme-light {
	background-color: whitesmoke;
	height: 20px;
	width: auto;
	margin-left: auto;
}

.dg-audio-note-powered-by.hidden {
	display: none;
}

.dg-quick-note-modal {
	--dialog-width: 75vw;
	height: auto;
	--dialog-max-height: 75vh;
}
.info svg {
	width: 11px;
	margin-left: 3px;
}
/* END DG Quick Audio Note */

/* Audio Notes calendar */
.aan-calendar-view {
	padding: var(--size-4-4);
	display: flex;
	flex-direction: column;
	gap: var(--size-4-4);
	height: 100%;
	box-sizing: border-box;
}

.aan-calendar-panel {
	display: grid;
	grid-template-columns: minmax(0, 2fr) minmax(320px, 1fr);
	gap: var(--size-4-4);
	height: 100%;
}

@media screen and (max-width: 1000px) {
	.aan-calendar-panel {
		grid-template-columns: 1fr;
	}
	.aan-calendar-grid,
	.aan-calendar-day-view,
	.aan-calendar-toolbar {
		grid-column: 1;
		grid-row: auto;
	}
}

.aan-calendar-grid {
	background: var(--background-primary);
	border: 1px solid var(--background-modifier-border);
	border-radius: var(--radius-l);
	padding: var(--size-4-4);
	grid-column: 1;
	grid-row: 2;
	min-height: 520px;
}

.aan-calendar-toolbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--size-4-4);
	flex-wrap: wrap;
	grid-column: 1 / -1;
}

.aan-calendar-toolbar__label {
	font-weight: 600;
	font-size: var(--font-ui-medium);
}

.aan-calendar-refresh {
	border: 1px solid var(--background-modifier-border);
	background: transparent;
	color: var(--text-muted);
	border-radius: var(--radius-m);
	padding: 4px 10px;
	font-size: var(--font-ui-smaller);
	cursor: pointer;
}

.aan-calendar-toolbar__group {
	display: inline-flex;
	gap: var(--size-2-2);
}

.aan-calendar-toolbar button {
	border: 1px solid var(--background-modifier-border);
	background: var(--background-secondary);
	color: var(--text-muted);
	border-radius: var(--radius-m);
	padding: 4px 10px;
	font-size: var(--font-ui-smaller);
	cursor: pointer;
}

.aan-calendar-toolbar button.selected,
.aan-calendar-toolbar button:hover {
	background: var(--interactive-accent);
	color: var(--text-on-accent);
	border-color: var(--interactive-accent);
}

.aan-calendar-day-view {
	background: var(--background-secondary);
	border: 1px solid var(--background-modifier-border);
	border-radius: var(--radius-l);
	padding: var(--size-4-4);
	display: flex;
	flex-direction: column;
	gap: var(--size-4-2);
	min-height: 280px;
	grid-column: 2;
	grid-row: 2;
	overflow-y: visible;
}

.aan-calendar-day-header {
	display: flex;
	justify-content: space-between;
	gap: var(--size-4-4);
	align-items: flex-start;
}

.aan-calendar-day-label {
	font-size: var(--font-ui-large);
	font-weight: 600;
}

.aan-calendar-day-count {
	color: var(--text-muted);
	font-size: var(--font-ui-small);
}

.aan-calendar-legend {
	display: flex;
	flex-wrap: wrap;
	gap: var(--size-2-2);
}

.aan-calendar-legend-item {
	display: inline-flex;
	align-items: center;
	gap: var(--size-2-1);
	font-size: var(--font-ui-small);
}

.aan-calendar-legend-swatch {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid var(--background-modifier-border);
	display: inline-block;
}

.aan-calendar-day-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: var(--size-2-2);
}

.aan-calendar-day-row {
	display: grid;
	grid-template-columns: 90px 1fr;
	gap: var(--size-4-2);
	align-items: flex-start;
	padding: var(--size-2-3);
	border-radius: var(--radius-m);
	border: 1px solid var(--background-modifier-border);
	background: var(--background-primary);
}

@media screen and (max-width: 640px) {
	.aan-calendar-day-row {
		grid-template-columns: 1fr;
	}
}

.aan-calendar-day-time {
	font-weight: 600;
	display: flex;
	flex-direction: column;
	gap: var(--size-2-1);
}

.aan-calendar-day-time__end {
	color: var(--text-muted);
	font-size: var(--font-ui-small);
}

.aan-calendar-day-dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	margin-right: var(--size-2-2);
}

.aan-calendar-day-content {
	display: flex;
	flex-direction: column;
	gap: var(--size-2-2);
}

.aan-calendar-day-title {
	font-weight: 600;
	display: flex;
	align-items: center;
	gap: var(--size-2-2);
}

.aan-calendar-day-meta {
	display: flex;
	flex-direction: column;
	gap: var(--size-2-1);
}

.aan-calendar-tag-row {
	display: flex;
	flex-wrap: wrap;
	gap: var(--size-2-1);
}

.aan-calendar-chip,
.aan-calendar-chip--soft {
	padding: 2px 8px;
	border-radius: 999px;
	font-size: var(--font-ui-smaller);
	width: fit-content;
}

.aan-calendar-chip {
	background: var(--interactive-accent);
	color: var(--text-on-accent);
}

.aan-calendar-chip--soft {
	background: var(--background-modifier-hover);
	color: var(--text-muted);
}

.aan-calendar-day-actions {
	display: flex;
	gap: var(--size-2-2);
	flex-wrap: wrap;
}

.aan-calendar-day-actions button {
	border: 1px solid var(--background-modifier-border);
	background: transparent;
	border-radius: var(--radius-s);
	padding: 2px 8px;
	font-size: var(--font-ui-smaller);
	cursor: pointer;
}

.aan-calendar-day-actions button:hover {
	background: var(--background-modifier-hover);
}

.aan-calendar-empty {
	color: var(--text-muted);
	margin: 0;
}

.aan-calendar-view .fc {
	font-family: var(--font-interface);
}

.aan-calendar-view .fc .fc-toolbar-title {
	font-size: 18px;
	font-weight: 600;
}

.aan-calendar-view .fc-theme-standard td,
.aan-calendar-view .fc-theme-standard th {
	border-color: var(--background-modifier-border);
}

.aan-calendar-view .fc-day-today {
	background: var(--background-modifier-hover);
}

.aan-calendar-grid .fc-daygrid-day-frame {
	border-radius: var(--radius-s);
	transition: background-color 0.2s ease;
}

.aan-calendar-grid .fc-daygrid-day:hover .fc-daygrid-day-frame {
	background: var(--background-modifier-hover);
}

.aan-calendar-grid .fc .fc-col-header-cell-cushion,
.aan-calendar-grid .fc .fc-daygrid-day-number,
.aan-calendar-grid .fc .fc-daygrid-day-number:hover,
.aan-calendar-grid .fc a.fc-daygrid-day-number {
	color: var(--text-muted);
	text-decoration: none !important;
	cursor: default;
}

.aan-calendar-grid .fc a {
	text-decoration: none !important;
}

.aan-calendar-grid .fc .fc-daygrid-event {
	border: none;
	background: var(--background-secondary);
	border-radius: var(--radius-s);
	padding: 2px 6px;
	margin: 2px 0;
	font-size: var(--font-ui-smaller);
	line-height: 1.3;
	color: var(--text-normal);
}

.aan-calendar-grid .fc .fc-daygrid-event .fc-event-time,
.aan-calendar-grid .fc .fc-daygrid-event .fc-event-title {
	color: inherit;
}

.aan-calendar-grid .fc .fc-daygrid-event:hover {
	background: var(--background-modifier-hover);
}

.aan-calendar-grid .fc .fc-col-header-cell-cushion:hover {
	text-decoration: none !important;
}

.aan-calendar-day-selected .fc-daygrid-day-frame {
	background: var(--background-modifier-hover);
	box-shadow: inset 0 0 0 2px var(--interactive-accent);
}

.aan-calendar-grid .fc .aan-calendar-day-selected .fc-daygrid-day-number {
	background: var(--interactive-accent);
	color: var(--text-on-accent);
	border-radius: var(--radius-s);
	padding: 0 var(--size-2-2);
}

.aan-calendar-view .fc .fc-button {
	background: transparent;
	border: none;
	color: var(--text-muted);
}
