/* Create new audio note prompt */
.create-new-audio-note-file-title {
	margin-left: 12px;
	margin-right: 12px;
	text-align: center;
}

.create-new-audio-note-file-input-element {
}

.create-new-audio-note-file-url-container {
	display: flex;
}

.create-new-audio-note-file-submit-button {
	width: fit-content;
	align-self: center;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: 12px;
	margin-right: 12px;
}

.create-new-audio-note-file-submit-button:disabled {
	opacity: 30%;
}

.create-new-audio-note-file-prompt-input-container {
	width: 100%;
}

/*START tabs*/
.tab {
	padding: var(--size-4-3);
	text-align: center;
	border-bottom: 1px solid var(--background-secondary);
	width: 100%;
}

button.tablinks:not(:last-child) {
	margin-right: 16px;
}

.transcription-options-container-for-new-audio-note {
	padding: var(--size-4-3);
	display: flex;
	justify-content: space-between;
}

.transcription-options-container-for-new-audio-note span {
	margin-left: auto;
	align-self: center;
	margin-bottom: 12px;
}

.transcription-options-container-for-new-audio-note input[type="checkbox"] {
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 12px;
	align-self: center;
}

.transcription-options-container-for-new-audio-note select {
	margin-left: 0px;
}

.modal-container .prompt .podcast-input-div {
	margin: var(--size-4-3);
	display: flex;
}

.modal-container .prompt .podcast-input-div .span-podcast-input-text {
	width: 200px;
	align-self: center;
}

.modal-container .prompt .podcast-input-div .podcast-search-input {
	margin-left: auto;
	width: -webkit-fill-available;
	max-width: calc(100% - 153px);
}

.modal-container .prompt .podcast-select-div {
	margin: var(--size-4-3);
	display: flex;
}

.modal-container .prompt .podcast-select-div .span-podcast-select-text {
	width: 200px;
	align-self: center;
}

.modal-container .prompt .podcast-select-div .select-podcast-results {
	margin-left: auto;
	width: -webkit-fill-available;
	max-width: calc(100% - 153px);
}

.modal-container .prompt .podcast-episode-select-div {
	margin: var(--size-4-3);
	display: flex;
}

.modal-container
	.prompt
	.podcast-episode-select-div
	.span-podcast-episode-select-text {
	width: 200px;
	align-self: center;
}

.modal-container
	.prompt
	.podcast-episode-select-div
	.select-podcast-episode-results {
	margin-left: auto;
	width: -webkit-fill-available;
	max-width: calc(100% - 153px);
}

/* END tabs*/

/* START DG Quick Audio Note */
.dg-audio-note {
	border: 1px solid var(--background-modifier-border);
	padding: 10px;
}

.dg-audio-note-title {
	font-weight: 600;
}

.dg-audio-note-audio {
	margin-top: 10px;
}

.modal-main-div {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

input.title-input {
	padding: 6px 5px;
}
.button-container {
	display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
}

.button-container button {
	margin-right: 5px;
	margin-left: 5px;
}

.dg-audio-note-powered-by {
	/* background-image: url("https://res.cloudinary.com/deepgram/image/upload/v1676406242/blog/DG-powered-by-logo-black-red-horizontal-rgb_wqhltl.svg"); */
	/* height: 20px; */
	width: auto;

	/* background-size: contain; */
	margin-left: auto;
	/* background-repeat: no-repeat;
	background-position: right; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.dg-audio-note-logo.theme-light {
	background-color: whitesmoke;
	height: 20px;
	width: auto;
	margin-left: auto;
}

.dg-audio-note-powered-by.hidden {
	display: none;
}

.dg-quick-note-modal {
	--dialog-width: 75vw;
	height: auto;
	--dialog-max-height: 75vh;
}
.info svg {
	width: 11px;
	margin-left: 3px;
}
/* END DG Quick Audio Note */

